.Main-chat
  .Main-chat__group--info
    .Main-chat__group--info--left
      %p.Group--name test
      %ul.Group--member
        %p Member :
        %li tech
        %li tech2
        %li tech3
    = link_to 'Edit', '#', class: "Main-chat__group--info--right" 

  .Main-chat__messages--list
    .Messages
      .Messages__user
        %p.Messages__user--name tech
        %p.Messages__user--date 2020/07/06(Mon) 10:51:00
      %p.Messages__list おはようございます
      .Messages__user
        %p.Messages__user--name tech2
        %p.Messages__user--date 2020/07/06(Mon) 10:51:00
      %p.Messages__list おはようございます!
      .Messages__user
        %p.Messages__user--name tech3
        %p.Messages__user--date 2020/07/06(Mon) 10:51:00
      %p.Messages__list おやすみ

  .Main-chat__messages--form
    .Input-message__form
      %input.Input-message__form--left{:placeholder => "type a message"}
      %label{class: "Input-message__form--icon"}
        = icon('far fa-image fa-2x', 'image')
        %input{type: "file"}
    %input.Input-message__btn{:type => "submit", :value => "Send"}