.Side-bar
  .Side-bar__user--name 
    .Top-items
      %p.Top-items__name
        = current_user.name
      .Top-items__icons
        = link_to '#' do
          %i.fas.fa-edit.Top-items__icons--btn
        = link_to edit_user_path(current_user) do
          %i.fas.fa-cog.Top-items__icons--btn

  .Side-bar__group--list
    .Member
      %p.Member__name tech
      %p.Member__message まだメッセージはありません
    .Member
      %p.Member__name tech2
      %p.Member__message まだメッセージはありません
    .Member
      %p.Member__name tech3
      %p.Member__message そろそろメッセージを書きましょう